pkgbase = svxconnect-bin
	pkgdesc = Terminal client for SvxLink reflectors (prebuilt)
	pkgver = 0.1.4
	pkgrel = 1
	url = https://github.com/Guru-RF/SVXConnect-CLI
	arch = x86_64
	license = MIT
	license = MIT-0 OR Unlicense
	depends = glibc
	depends = openssl
	depends = opus
	depends = ncurses
	depends = alsa-lib
	optdepends = libpulse: PulseAudio / pipewire-pulse audio backend
	provides = svxconnect=0.1.4
	conflicts = svxconnect
	noextract = svxconnect-0.1.4-1-x86_64.pkg.tar.zst
	options = !strip
	options = !debug
	source = https://github.com/Guru-RF/SVXConnect-CLI/releases/download/v0.1.4/svxconnect-0.1.4-1-x86_64.pkg.tar.zst
	sha256sums = 8080a89d18d3c9b1609343f4c9a62f87949369d12e5a2b46002e5484d6b2e08b

pkgname = svxconnect-bin
